.alertRed {
    padding: 15px;
    text-align: left;

}

.alertRed h4 {
    font-size: 27px;
}

.alertRed p {
    font-size: 20px;
}

.link {
    text-decoration: underline;
    color: #007bff;
}

.link:hover {
    color: #0056b3;
}

.btnCerrar {
    margin-left: 500px;

}

.alertDiv {
    display: flex;
    align-items: center;
}

.iconRed {
    margin-right: 7px;
    margin-left: 2px;
    font-size: 40px;
}