.imgDog{
    height: 500px;
    border-radius: 0;
}

.divParrafo{
    height: 235px;
    padding: 0;
    transition: font-size 0.3s, color 0.3s;
    /* box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.420); */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.contratanos{
    padding: 0;
    transition: font-size 0.3s, color 0.3s;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.contratanosTexs{
    width: 700px;
    text-align: left;
    margin-top: 50px;
}

.aboutUs{
    width: 700px;
    text-align: left;
    margin-top: 50px;
}

.factsContainer{
    padding: 0;
    transition: font-size 0.3s, color 0.3s;
    background-color:  rgba(128, 128, 128, 0.071);
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
    padding-bottom: 60px;
    padding-top: 50px;
}

.divDiv{
    margin-left: 25px;
}

.fact{
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 17px;
    background-color: white;
    margin-top: 20px;
    text-align:left;
}

.texts{
    margin-left: 30px;
    padding-top: 30px;
}

.parrafo{
    margin-left: 30px;
    margin-top: 20px;
}