.contenedorDeBoton{
    text-align: left;
}

.contenedorDeBoton button{
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.contenedorSolicitudes{
    margin-top: 2em;
    border: 2px solid #ffa726;
    border-radius: 15px;
    background-color: white;
}
.contProxReservas{
    margin-top: 2em;
    border: 2px solid #ffa726;
    border-radius: 15px;
    background-color:wheat;
}
.contReservasActivas{
    margin-top: 2em;
    border: 2px solid #ffa726;
    border-radius: 15px;
    background-color:#B3E571;
}
.reservasCompletadas{
    margin-top: 2em;
    border: 2px solid #ffa726;
    border-radius: 15px;
    background-color:#D1FFA4;
}

.contenedorFechas{
    align-items: center;
    text-align: center;
    font-size: 15px;
}

.iFsFC{
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
	font-size: 18px;
    padding: 10px;
}

.conenedorReservas{
    margin-top: 3em;
}

.contenedorEncabezado{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 20px;
}

.contenedorEncabezado h2{
    margin: 0 auto;
}

.contenedorEncabezado button{
  
  margin-right: 10px;
  margin-left: 0;
  padding: 5px 5px;
}