.sideBarContainer {
    border: 1px solid #ffa726;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
}

.profilePicContainer {
    padding: 10px;
align-items: center;
justify-content: center;
}

.profilePicContainer img {
width: 100%;
height: auto;
}

.formContainer {
    border: 1px solid #ffa726;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
}

.formContainer h2 {
    margin-top: 20px;
    font-weight: 700;
}


.imageContainer {
    position: relative;
    /* Contenedor relativo para los elementos hijos posicionados absolutamente */
}

.iconImg {
    position: absolute;
    /* Posición absoluta para colocar el ícono sobre la imagen */
    top: 50%;
    /* Alinear el ícono verticalmente en el centro */
    left: 50%;
    /* Alinear el ícono horizontalmente en el centro */
    transform: translate(-50%, -50%);
    /* Centrar el ícono */
    color: rgba(153, 149, 147, 0.664);
    font-size: 100px;
    transition: font-size 0.3s, color 0.3s;
    /* Agregar transición suave */
}

.iconImg:hover {
    color: #ffa726;
    /* Cambiar el color cuando se pasa el cursor */
    font-size: 120px;
    /* Hacer el ícono más grande cuando se pasa el cursor */
}
/* 
.imageContainer:hover .iconImg {
    display: block;
} */