.sideBarContainer {
    border: 1px solid #ffa726;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
}


.profilePicContainer {
    padding: 10px;
align-items: center;
justify-content: center;
}

.profilePicContainer img {
width: 100%;
height: auto;
}

.formContainer {
    border: 1px solid #ffa726;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
}

.formContainer h2 {
    margin-top: 20px;
    font-weight: 700;
}

.imgGalleryContainer {
    position: relative;
    padding-top: 30px;
}

.imageProfile {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 20px;
    overflow: hidden;
}
.imageProfileDos{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 20px;
    margin-top: 30px;
    overflow: hidden;
}

.notification {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.imageContainer {
    position: relative;
    /* Contenedor relativo para los elementos hijos posicionados absolutamente */
}

.iconImg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(153, 149, 147, 0.664);
    font-size: 100px;
    transition: font-size 0.3s, color 0.3s;
}

.iconImg:hover {
    color: #ffa726;
    font-size: 120px;
}

.btn {
    margin-top: 15px;
}
/* 
.imageContainer:hover .iconImg {
    display: block;
} */