.form {
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
}

.form > div {
  margin-bottom: 20px;
}

.form label {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
}

.form input,
.form textarea,
.form select {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 15px;
  border: 2px solid transparent; /* Borde transparente por defecto */
  font-size: 18px;
  padding: 5px 0px 5px 10px;
  margin-bottom: 5px;
  color: #2e2d2d;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
  border: 2px solid #ffa726; /* Cambia a un borde de color al enfocar */
  outline: none; /* Elimina el contorno predeterminado */
}

.form input[type="radio"] {
  width: auto;
}

.form input::placeholder {
  color: #2e2d2d;
}

.form select option {
  background-color: #f4f4f4;
  color: #2e2d2d;
  scrollbar-color: #ffa726;
}

.form button[type="submit"] {
  display: block;
  background: #ffa726;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

.form button[type="submit"]:hover {
  background-color: #ffa319;
  border-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.42);
}

.success {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: #02a802;
}

.form h3 {
  font-weight: 700;
}
.error {
  color: #ff2a2a;
  text-align: left;
  font-size: small;
}

.field-container {
  position: relative;
}

.error-message {
  position: absolute;
  top: 0; /* ajusta según sea necesario */
  left: 0; /* ajusta según sea necesario */
}
