.contenedorPpal{
    align-items: center; 
    text-align: center;
}

.contenedorObjetitos{
    display: flex;
    justify-content: center;
    
}

.input{   
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em ;
    font-size: 1em;
    font-family: inherit;
    background-color:  rgba(204, 204, 204, 0.5);
    text-align: center;
    color: black;
    height: 2em;
    margin-top: 0.1em;
    width: 15em;
}

.ContenedorSeleccionaBarrio{
    background-color: rgba(204, 204, 204, 0.5);
    display: flex;
    width:12em;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0.5em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    margin-right: 22px;
}

.flechaAbajo{
    margin-left: 5px;
}
.searchbar input{
    background-color: rgba(204, 204, 204, 0.5);
    text-align: center;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.searchbar input:focus{
   outline: none;
   border: 1px solid grey;
}

.searchbar button:hover{
    border: 1px solid #ffc107;
}

.contenedorBuscador{
    height: 10em;
    overflow:auto;
    width: 20em;
    margin:0 auto;
    margin-top: 10px;
}


ul{
    
    align-items: center;
    text-align: center;
    width: 15em;
    margin: 0 auto;
    list-style: none;
   
}
.lista{
    padding: 0;
    margin-top: 0.8em;
    text-align: center;
    cursor: pointer;
    width: 100%;
   
}

.lista:hover{
    background-color: rgba(204, 204, 204, 0.5);
    margin: 0 auto;
    width:fit-content;
    margin-top: 0.8em;
    
}


.spann{
    width: 100%;
    height: 100%;
}
