@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f1edf3;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	min-height: 100vh;
	display: flex;
	color: #e92b2d;
	align-items: flex-start;
	justify-content: center;
}

.formulario h2 {
	color: #101011;
	font-weight: 600;
	font-size: 2rem

}

.formulario {
	min-width: 500px;
	margin-top: 150px;
	margin-left: 180px;
	height: 30%;
    width: 40%;
	background: #efedec;
	border-radius: 15px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: rgb(226, 228, 228);
}

.formulario > div {
	margin-bottom: 20px;
	
}

.formulario label { 
	display: block;
	display: flex;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 5px;
	color: #0c0c0c;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #d4d1d1;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"] {
	display: block;
	background: #e0ae08;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #daa105;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}
