.numero {
    font-size: 13em;
    color: rgba(128, 128, 128, 0.295);
    font-weight: 600;
}
.contenedorNro {
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    width: 60px;
    height: 60px;
}

.photos {
    position: absolute;
    top: 12em;
}

.computerDogPhoto {
    border-top-left-radius: 40em;
    border-bottom-left-radius: 20em;
    border-top-right-radius: 7em;
    border-bottom-right-radius: 7em;
    width: 90%;

}
.conteinerObj {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.295);
    border: 3px solid rgba(128, 128, 128, 0.114);
    height: 43em;
}

.conteinerText {
    margin-top: 72%;
    text-align: center;
    margin-right: 15%;
    margin-left: 15%;

}

.text {
    color: black;
    font-family: 'Montserrat';
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.5;
}

.photos {
    margin-top:10px;
    text-align: center;
}

.computerDogPhoto {
    width: 80%;
    border-radius: 50%;
    border: 5px solid #f0f0f0;
}

.divTitulo{
    margin-top: 60px;
    font-size: 25px;
}

.btn {
    display: block;
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 25px;
    background-color: #ff9800;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.btn:hover {
    background-color: #ffc400;
    box-shadow: 1px 5px 10px rgba(128, 128, 128, 0.295);
}

.img{
    border-radius: 0;
    height: 700px;
}

.divParrafo {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 40px;
  font-size: 20px;
}

.parrafo {
  width: 80%; /* Ajusta el ancho del párrafo según sea necesario */
}