
.imageContainer {
    width: 400px;
    height: 400px;
    display: flex;
}

 img {
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
  }

  .textContainer {
    display: block;
    text-align: left;
    margin-bottom: 40px;
  }

  .ratingContainer {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-bottom: 20px;
  }

  .ratingContainer h2 {
    font-size: 48px;
    font-weight: 700;
  }

  .reservationContainer {
    padding: 20px;
      border-radius: 15px;
      box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
  }

  .reservationContainer h4 {
    font-size: 12px;
  }

  .reservationContainer button {
    margin-bottom: 20px;
  }

  .description {
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
      box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
  }
  
  .details {
    flex-grow: 1;
  }
  
.cardContainer {
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
}

  .reviewFirstRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
  }

  .reviewTitle img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .reviewName {
    display: block;
    margin-left: 20px;
    text-align: left;
  }

  .reviewText {
    text-align: left;
  }

  .mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
  }
  
  
  .galleryContainer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
  }

  .ratesContainer {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.295);
  }

  .alertYellow {
    text-align: left;
    height: 60px;
  }
  
  .icon {
    margin-right: 7px;
  }

  .link {
    text-decoration: underline;
    color: #007bff;
  }
  
  .link:hover {
    color: #0056b3;
  }